body {
  padding-top: 90px;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  color: var(--darkTextColor);
}

h2 {
  font-size: 1.5rem;
  color: var(--grayTextColor);
}

p {
  font-size: 1.3rem;
}

#product-link {
  max-width: 1400px;
  margin: auto;
  padding: 10px 0;
  font-weight: 500;
}

main {
  display: flex;
  padding: 1rem 0;
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

main section:first-child {
  flex-grow: 1;
}

#pictures {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  flex-grow: 1;
  padding: 0 1rem 0 0;
}

#pictures img {
  width: 100%;
  border-radius: 2rem;
  border: 2px solid var(--blueColor);
}

#details {
  background: var(--lightOverlayColor);
  max-width: 420px;
  height: fit-content;
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 2rem;
  padding: 1.5rem;
}

#description {
  color: var(--grayTextColor);
}

#buttons {
  font-family: "Chillax", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#buttons a {
  font-size: 1rem;
  color: var(--grayTextColor);
}

#small-links {
  display: flex;
  justify-content: space-between;
}

#size-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#size-buttons .button-border {
  --blueColor: #333333;
  transition: all 0.15s;
}

#size-buttons .button-border.selected {
  background-color: var(--blueColor);
  color: white;
}

#add-to-cart {
  width: 100%;
  font-family: "Chillax", sans-serif;
}

#details-dropdowns {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#cart-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cart-button img {
  margin-bottom: 4px;
}

#details-dropdowns button {
  background: transparent;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-bottom: 1px var(--darkTextColor) solid;
  color: var(--grayTextColor);
  font-weight: 600;
  font-size: 1rem;
}

#details-dropdowns button div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

#details-dropdowns button div:first-child img {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

#details-dropdowns button div:last-child {
  width: 100%;
  height: 0px;
  overflow: hidden;
  display: flex;
  padding: 0;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

#details-dropdowns button div:last-child p {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: var(--grayTextColor);
}

#details-dropdowns button div:last-child p strong {
  font-weight: 600;
  color: var(--grayTextColor);
}

#details-dropdowns button:first-child {
  border-top: 1px var(--darkTextColor) solid;
}

#details-dropdowns button.active div:last-child {
  height: 120px;
  padding: 0.5rem 0 0 0;
}

#details-dropdowns button.active:last-child div:last-child {
  height: 140px;
}

#details-dropdowns button.active div:first-child img {
  transform: rotate(180deg);
}

aside {
  margin-top: 2rem;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

body > hr {
  border: 1px solid var(--blueColor);
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

aside > div section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  gap: 1rem;
}

aside > div {
  position: relative;
}

aside section a {
  padding-bottom: 1rem;
  text-decoration: none;
}

aside section a p {
  font-size: 1.1rem;
}

aside section a p:last-child {
  margin-top: 0.5rem;
  font-weight: 600;
  text-align: right;
}

aside > div::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  left: 0;
  bottom: 4px;
  z-index: 10;
  background-image: linear-gradient(
    to right,
    #f3decc00 80%,
    var(--backgroundColor)
  );
  pointer-events: none;
}

aside div section::-webkit-scrollbar {
  position: relative;
  z-index: 50;
  height: 4px;
  width: 4px;
  background-color: var(--lightOverlayColor);
  border-radius: 2px;
}

aside div section::-webkit-scrollbar-thumb {
  background-color: #00000066;
  border-radius: 2px;
}

aside section div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

aside section div img {
  position: relative;
  border-radius: 2rem;
  border: 2px solid var(--blueColor);
  grid-area: 1 / 1 / 2 / 2;
  object-fit: cover;
  object-position: center;
}

aside section div img:nth-child(2) {
  z-index: -1;
}

aside section a:hover img:first-child {
  display: none;
}

aside h4 {
  font-family: "synonym", sans-serif;
  color: var(--darkTextColor);
}

#arrow {
  position: absolute;
  top: 0;
  opacity: 0;
}

.arrow_animation {
  animation: addtocart 1s ease 0s 1 normal forwards;
}
/*Arrow animation partly made in https://webcode.tools/css-generator/keyframe-animation*/
@keyframes addtocart {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  90% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1464px) and (min-width: 769px) {
  #product-link {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  aside {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  body > hr {
    max-width: calc(100% - 4rem);
  }
}

@media screen and (max-width: 768px) {
  #product-link {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  main {
    flex-direction: column;
    gap: 2rem;
  }

  #pictures {
    padding: 0 2rem;
    display: flex;
    overflow-x: scroll;
  }

  main #pictures::-webkit-scrollbar {
    position: relative;
    z-index: 50;
    height: 4px;
    width: 4px;
  }

  main #pictures::-webkit-scrollbar-thumb {
    background-color: #00000066;
    border-radius: 2px;
  }

  main #pictures::-webkit-scrollbar-track {
    background-color: var(--lightOverlayColor);
    border-radius: 2px;
  }

  main #pictures::-webkit-scrollbar-button:end:decrement,
  main #pictures::-webkit-scrollbar-button:start:increment {
    background-color: var(--backgroundColor);
    width: 2rem;
  }

  #pictures img {
    margin-bottom: 1rem;
  }

  #details {
    background: transparent;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
  }

  #details section {
    width: 100%;
  }

  #size-buttons .button-border {
    padding: 0.5rem 1rem;
  }

  #size-buttons {
    flex-wrap: wrap;
  }

  body > hr {
    display: none;
  }

  aside {
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  aside p {
    font-size: 1rem;
  }
}
